.login-set
    margin auto
    margin-top 60px
    width 450px
    padding 20px
    border 1px solid #ddd
    background #f1f1f1
    border-radius 5px
    .title
        color black
        font-size 22px
        text-align center
        margin-top 10px
        margin-bottom 15px
        font-weight 500
    .login-btn
        text-align center
        button
            padding 5px 15px
    .register-text
        text-align end
        color #2a2ac6
        cursor pointer
        &:hover
            text-decoration underline
        &:focus,&:active
            border none
.form-group
    .form-control
        &:hover,&:active,&:focus
            box-shadow none
            outline 0
            border-color #ddd
.btn-success
    &:hover,&:active,&:focus
        box-shadow none
        outline 0
        border-color #ddd
.btn-light
    border none
    background-color #f1f1f1
    color blue
    &:active
        border-color none
        background-color #f1f1f1
        color blue
    &:focus
        background-color #f1f1f1
        box-shadow none
        border-color none
        outline 0
    &:hover
        text-decoration none
