.table-set
    padding-top 20px
    margin auto
    width 1400px
    .card
        border 1px solid #ddd
        .card-header
            display flex
            align-items center
            justify-content space-between
            &.add
                padding 0px
                height 45px
                .title
                    .card-add
                        border-right 1px solid #ddd
                        padding 12px
                        padding-left 3px
                        padding-right 3px
                    .card-btn-left
                        padding 10px
                        font-size 14px
                        padding 15px
                        cursor pointer
                    .card-main-title
                        margin-left 10px
.margin-right-5
    margin-right 5px
.margin-bottom-0
    margin-bottom 0px
.radio-primary
    display flex
    align-items center
    .radio
        margin-right 50px
.margin-right-10
    margin-right 10px
.height-45
    height 45px
.text-truncate
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    width 120px
    &.width-200
        width 200px
.btn-primary
    &:hover,&:active,&:focus
        box-shadow none
        border-color none
        outline 0
.margin-right-10
    margin-right 10px


