.register-set
    margin auto
    margin-top 60px
    width 600px
    padding 20px
    border 1px solid #ddd
    background #f1f1f1
    border-radius 5px
    .register-title
        color black
        font-size 22px
        text-align center
        margin-top 10px
        margin-bottom 15px
        font-weight 500
.form-group
    .form-control
        &:hover,&:active,&:focus
            box-shadow none
            outline 0
            border-color #ddd
    select
        display block
        border 1px solid #ddd
        padding 6px
        width 265px
        border-radius 5px
.radio-primary
    display flex
    align-items center
    .radio
        margin-right 50px
.margin-right-10
    margin-right 10px
.pull-right
    float right
.margin-right-5
    margin-right 5px
.height-45
    height 45px
.btn-success
    &:hover,&:active,&:focus
        box-shadow none
        border-color none
        outline 0
.btn-danger
    &:hover,&:active,&:focus
        box-shadow none
        outline 0
        border-color none
.login-text
    text-align end
    color #2a2ac6
    cursor pointer
    &:hover
        text-decoration underline
    &:focus,&:active
        border none
.btn-light
    border none
    background-color #f1f1f1
    color blue
    &:active
        border-color none
        background-color #f1f1f1
        color blue
    &:focus
        background-color #f1f1f1
        box-shadow none
        border-color none
        outline 0
    &:hover
        text-decoration none
